.c0 {
  position: relative;
  top: 24px;
  left: 36px;
}
.c1 {
  position: relative;
  left: 64vw;
  top: -10vw;
}
.c2 {
  position: relative;
  left: 24vw;
  top: -3vh;
}
.c3 {
  position: relative;
  left: 64vw;
  /* top: -10vw */
}
.c4 {
  position: relative;
  left: 10vw;
  top: -5vh;
}
.c5 {
  position: absolute;
  left: 60vw;
}
.c6 {
  position: relative;
  left: 4vw;
  top: 30vh;
}
.story-card {
  padding: 1rem;
}
