.App {
  font-family: sans-serif;
  text-align: center;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000427, #041d33);
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}
